.area_text {
    resize: none !important;
    width: 94%;
    min-height: 206px;
    max-height: 206px;
    margin-top: 10px;
    padding: 16px;
    border: solid 0.5px #9B9B9B !important;
}

.area_text::placeholder {
    font-size: 18px;
    font-family: Quicksand;
    color: #343434;
    font-weight: 500;
}